# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
package-lock.json

# Dependency directories
node_modules/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

