@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300;400;500;600&family=Ysabeau&display=swap');


  body { padding-top:50px;
  }

  p,li,accordion-item{
    font-family: "Josefin Slab", serif;
    font-size: 21px;
    font-weight: 600;
  }

  h1,h2,h3{font-family: "Josefin Slab", serif;}

  .float-left{
    width:140px;
    text-align: center;
    margin-right: -70px;
  }

  .well{
    background-color:#F8F9FA ;
  }

 

  .list-unstyled{
    
    padding:5px;
    border-radius:5px;
  }



  .card-img-top{border-radius: 5px;}

  .jumbotron{
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .nav-link:hover{
    font-weight: bolder;
  }

   ul{
  list-style: none;
  margin-left: -20px;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

/* modo noche */
.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}